h1 {
    text-transform: uppercase;
}

h2 {
    text-transform: uppercase;
    color: dodgerblue;
}

.company {
    font-weight: bold;
}

.role {
    font-style: oblique;
}

.project .sub-title {
    font-weight: bolder;
}

.responsibilities .sub-title {
    font-weight: bolder;
}

.title {
    padding: 1.5rem 0rem;
}

dd {
    padding-left: 2rem;
}