h1 {
    text-transform: lowercase;
}

h2 {
    text-transform: uppercase;
}

h3 span.company {
    font-weight: bold;
}

h3 span.role {
    font-style: oblique;
}

.project .sub-title {
    font-weight: bolder;
}

.responsibilities .sub-title {
    font-weight: bolder;
}

